.hide {
    display: none;
}

.users-on div span {
    margin-right: 8px;
}

.users-on  div {
    margin: 8px 0;
}

.users-on {
    position: absolute;
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 1px 1px 10px #333;
}